$em-base: 18px;
@import "normalize";
@import "bourbon/bourbon";
@import "base/grid-settings";
@import "base/base";
@import "neat/neat";

$padding-large: em(45);
$padding-med: em(20);
$padding-small: em(15);

p.intro {
  @extend %h2;
}

.feature {
  color: $text-color;
  background-color: $feature-bg;

  &__container {
    @include outer-container;
    @include pad(em(105) $padding-large $padding-large);
  }

  &__cell {
    @include span-columns(8);
  }
}

.container {
  @include outer-container();
}

.main {
  @include span-columns(8);
  @include pad($padding-large);
}

.side {
  @include span-columns(4);
  @include omega;
  @include pad($padding-large);
}


$footer-height: 90px;
.footer {
  // TODO: Sticky footer
  &__container {
    @include outer-container();
    @include pad(em(30));

    p {
      font-size: em(12);
      text-align: right;

    }
  }
  background-color: $feature-bg;
  height: $footer-height;
}

// Sticky footer
main {
  min-height: calc(100vh - #{$footer-height});
}

aside:first-child h2 {
  margin-top: 0;
}

@include media(new-breakpoint(max-width em(900), 4)) {
  .main {
    @include span-columns(4);
    @include omega;
  }

  .side {
    @include span-columns(4);
    @include omega;
  }

  aside {
    @include span-columns(2);
    @include omega(2n);
    h2 {
      margin-top: 0;
    }
  }
}

@include media(new-breakpoint(max-width em(520), 4)) {
  .feature__container {
    padding-left: $padding-med;
    padding-right: $padding-med;
  }

  .feature__cell {
    @include span-columns(4);
  }

  .main,
  .side {
    padding: $padding-med;
  }

}

@include media(new-breakpoint(max-width em(420), 4)) {
  .feature__container {
    padding-left: $padding-small;
    padding-right: $padding-small;
  }

  aside {
    @include span-columns(4);
    @include omega;
  }

  .main,
  .side {
    padding: $padding-small;
  }

}
